<h1> You are requesting this user to be booked </h1>
<p> As soona as you click Book, we will send them a request by email</p>
<p> If they accept, your hour balance will have 3 hours deducted </p>

<button> Book </button>